<%- include("navbar.ejs", {active_username})%>
<main class="form-signin">
    <form action="/login" method="post">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <label for="inputUsername" class="visually-hidden">Username</label>
      <input type="username" name="userName" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="alert alert-danger" role="alert">
        This error message will be returned...
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
     
      <a href="/register">Need to register?</a>
    </form>
  </main>
</div>

<%- include("footer.ejs")%>