<%- include("navbar.ejs")%>
<main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Profile</h1>
      <label for="inputUsername" class="visually-hidden">Username</label>
      <input type="username" id="inputUsername" class="form-control" placeholder="Username" autofocus disabled>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
      <label for="confirmPassword" class="visually-hidden">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Update Password</button>
      <p></p>
      <label for="inputFirstName" class="visually-hidden">First Name</label>
      <input type="firstName" id="inputFirstName" class="form-control" placeholder="First Name" autofocus >
      <label for="inputFirstName" class="visually-hidden">Last Name</label>
      <input type="lastName" id="inputLastName" class="form-control" placeholder="Last Name" autofocus >
      <p></p>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Update Name</button>
      <p></p>
      <div class="alert alert-danger" role="alert">
        This error message will be returned...
      </div>
     
    </form>
  </main>
</div>
<%- include("footer.ejs")%>