<%- include("navbar.ejs")%>


<!--main class="form-signin">
    <form action="/register" method="POST">
      <h1 class="h3 mb-3 fw-normal">Register</h1>
      <label for="inputUsername" class="visually-hidden">Username</label>
      <input type="username" name="userName" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" name="password" id="confirmPassword" class="form-control" placeholder="Password" required>
      <label for="confirmPassword" class="visually-hidden">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      <label for="inputFirstName" class="visually-hidden">First Name</label>
      <input type="firstName" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
      <label for="inputLastName" class="visually-hidden">Last Name</label>
      <input type="lastName" name="lastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
      <p></p>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <p></p>
      <div class="alert alert-danger" role="alert">
        This error message will be returned...
      </div>
     
    </form>
  </main>
</div-->



<style>
  .back {
      background: #e2e2e2;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
  }

  .div-center {
  width: 450px;
  height: 800px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
  }

  div.content {
  display: table-cell;
  vertical-align: middle;
  }

</style>



<main class="form-signin">
<div class="back">
  <div class="div-center">     
    <div class="content">     

      <h1 class="h1 mb-3 fw-normal">Register</h1>
      <hr />
      <form action="/register" method="POST">
        <div class="form-group mt-3">
          <label for="inputUsername" class="visually-hidden">Username</label>
          <input type="username" name="userName" id="inputUsername" class="form-control form-control-lg" placeholder="Username" required autofocus>
        </div>

        <div class="form-group mt-3">
          <label for="inputPassword" class="visually-hidden">Password</label>
          <input type="password" name="password" id="confirmPassword" class="form-control form-control-lg" placeholder="Password" required>
        </div>

        <div class="form-group mt-3">
          <label for="confirmPassword" class="visually-hidden">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-lg" placeholder="Confirm Password" required>
        </div>

        <div class="form-group mt-3">
          <label for="inputFirstName" class="visually-hidden">First Name</label>
          <input type="firstName" name="firstName" id="inputFirstName" class="form-control form-control-lg" placeholder="First Name" required autofocus>
        </div>

        <div class="form-group mt-3">
          <label for="inputLastName" class="visually-hidden">Last Name</label>
          <input type="lastName" name="lastName" id="inputLastName" class="form-control form-control-lg" placeholder="Last Name" required autofocus>
        </div>
        <p></p>
        <button type="submit" class="w-100 btn btn-lg btn-outline-danger">Register</button>
        <p></p>
        <input type="checkbox" name="check">
        
        <label for="check"> I agree to the Terms of Use</label><br>
        <hr />

        <div class="alert alert-danger" role="alert">
          This error message will be returned...
        </div>

        <p>Already a MediaLister?</p>
        <button type="button" class="btn btn-link"><a href="/login">Sign in here</a></button>    
      </form>

  </div>     
</div>
</main>
</div>



<%- include("footer.ejs")%>